@tailwind base;
@tailwind components;
@tailwind utilities;

._gradient {
  text-shadow: 0 0 0px white, 0px 3px 2px #bb03f5;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  background-color: black;
}

dialog::backdrop {
  backdrop-filter: blur(4px);
}

._grid {
  grid-template-columns: repeat(auto-fit, minmax(150px, 0.5fr));
}

@media (min-width: 768px) {
  ._grid {
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.25fr));
  }
}